version: '3'
services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=dummypassword
      - POSTGRES_USER=covidapi
    ports:
      - "5432:5432"
